{% extends 'news_app/base.html'%} 
{% block content%}

  <!-- titile -->
<div class="row">
  {% if title %}
  <h1 class="text-uppercase fs-1 fw-bolder lh-lg .text-primary text-center">
    {{ title }}
  </h1>
  {% else%}
  <h1 class="text-uppercase fs-1 fw-bolder lh-lg .text-primary text-center">
    Hello, world!
  </h1>
  {% endif %}
</div>
  <!-- end title  -->

  <!-- articles -->
<div class="row">
  {% for article in articles %}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h2 class="text-center"> {{ news_item.title }} </h2>
          <p>{{ article.text}}</p>
        </div>
{% if article.article_image %}
    <!--Display news Article images  -->

    {{ article.id }}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{article.article_image.url}}" class="img-responsive" alt="Image">
    </div>
  {% else %}
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="https://via.placeholder.com/300.png/09f/fff" class="img-responsive" alt="Image">
    </div>
    {% endif %}

  {% endfor %}
</div>

  <!-- end article -->
{% endblock %}
